{% extends 'base.html' %}

{% block meta %}
<h1>Create new TODO</h1>
{% endblock meta %}

{% block content %}

<div class = "create_task">

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Title: </td>
                <td><input type="text" name="Title" placeholder="your new task" class="form-control"></td>
            </tr>   
            <tr>
                <td>Deskripsi: </td>
                <td><input type="text" name="Description" placeholder="Description" class="form-control"></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Add"></td>
            </tr>
        </table>
    </form>

</div>

{% endblock content %}