{% extends 'base.html' %}

{% block meta %}
<h1>Create new TODO</h1>
{% endblock meta %}

{% block content %}

<div class = "create_task">

    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Title: </td>
                <td><input type="text" name="Title" placeholder="your new task" class="form-control"></td>
            </tr>   
            <tr>
                <td>Deskripsi: </td>
                <td><input type="text" name="Description" placeholder="Description" class="form-control"></td>
            </tr>
        </table>
        <button class="submit mt-6 px-4 py-2">
            Add
        </button>
    </form>
    
    {% if messages %}
        <ul class = "messages">
            {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock content %}