{% load static %}
<!DOCTYPE html>
<html lang="en">
<div style="min-height:100vh; display:flex; flex-direction:column; 
  justify-content:space-between;">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>ToDoList</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>




  {% block content %}
  {% endblock content %}

<footer class="gradient-custom">TugasPBP</footer>


</body>
</div>

</html>